
                <div class="custom-file" [nbSpinner]="res" nbSpinnerStatus="info" nbSpinnerMessage="Uploading ..." nbSpinnerSize="small">
                    <input type="file" style="cursor: pointer;" class="custom-file-input" #file (change)="onFilesAdded($event)" multiple id="customFile" name="filename">
                    <label id="" class="custom-file-label" for="customFile">Choose file</label>
                  </div>

                  
                <!-- <div class="form-group">
                    <label for="laws" class="labelst">Social Responsibility, Ethics, Human and Labour Laws</label><br>
                    <label class="file">
                      <input type="file" id="file" aria-label="File browser example">
                      <span class="file-custom"></span>
                    </label>
                  </div> -->